body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container{
    background-image: url(https://static.vecteezy.com/ti/fotos-gratis/p2/4519287-fundo-gradiente-roxo-e-azul-gratis-foto.jpg);
    background-size: cover;
    height: 885px;
    padding: 20px;
}
.container h2{
    padding-top: 10px;
}

.container h4{
    padding-bottom: 10px;
}

.retangulo{
    width: 300px;
	height:max-content;
	background-color: rgb(156, 205, 245);
    margin: auto;
    
}

h1{
    text-align: center;
    color: green;
}

h2{
    text-align: center;
    color: grey;
}

h3{
    text-align: center;
}

h4{
    text-align: center;
}

.caixa{
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
}

.botao1{
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    width: 100px;
    align-content: center;
}